<h1><%= t('.resend_confirmation_instructions') %></h1>

<%= form_for(resource, as: resource_name, url: update_user_confirmation_path, html: { method: :put, class: 'form login' }) do |f| %>
  <%= bootstrap_devise_error_messages! %>

  <%= hidden_field_tag :confirmation_token, @confirmation_token %>
  <div class="form-group">
    <%= f.label :password, class: 'control-label' %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, class: 'control-label' %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit 'Create password', class: 'btn btn-primary' %>
  </div>
<% end %>
