html,
body {
  height: 100%;
  margin: 0 !important;
}
.user-name {
  padding: 0 !important ;
  padding-left: 5px;
  padding-top: 15px !important;
  text-align: center;
  a {
    color: #fff !important;
    margin: 0 !important;
    padding: 5px!important;
  }
  a:hover, a:focus {
    color: #000 !important;
  }
}

.nav.navbar-right {
  padding-bottom: 10px;
  padding-top: 5px;
}

.nav.navbar-nav {
  .navbar-link {
    border-radius: 5px;
    color: #fff;
    margin-top: 15px;
    padding: 8px;
  }
  .navbar-link:focus, .navbar-link:hover {
    background: #3071a9;
    color: #fff;
  }
  li a {
    margin-right: 5px;
  }
}

.nav.navbar-right li {
  .btn {
    color: #fff !important;
    margin-top: 5%;
  }
  .btn-danger:hover, .btn-danger:focus {
    background-color: darken(#d9534f,20%) !important;
  }
  .btn-primary:hover, .btn-primary:focus {
    background-color: darken(#428bca,20%) !important;
  }
}

.btn-primary:visited, .btn-danger:visited {
  color: #fff;
}

.no-side-padding {
  padding-left: 0;
  padding-right: 0;
}

.no-right-padding {
  padding-right: 0px;
}

.no-left-padding {
  padding-left: 0px;
}

.features {
  ul {
  margin-left: 0;
  padding-left: 15px;
  }

}

.header-link {
  color: rgb(201, 199, 199) !important;
  // font-weight: bold;
}

.header-link:hover {
  color: #fff !important;
}

.fa.fa-cogs {
  background: #fff;
  border: 1px solid white;
  border-radius: 20px;
  color: red;
  padding: 6px;
}

.logout {
  padding-left: 0;
}

.navbar.navbar-static-top {
  background: #000;
  color: #fff !important;
  padding-bottom: 5px;
}

.jumbotron {
  background-image: asset-url('project.jpg');
  background-size: cover;
  color: #fff;
  font-family: 'Helvetica Neue' !important;
  font-stretch: expanded;
  height: 420px;
  text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;
  h2 {
    font-size: 35px !important;
    .lead {
    font-family: 'Helvetica Neue' !important;
    font-size: 30px !important;
    }
  }
}

.plan {
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  margin-right: 5px;
}

.price {
  font-weight: 700;
  size: 120%;
}

.sign-up {
  margin-top: 5px;
}

.extra {
  color: #5cb85c;
}

.table tr td {
  a.main-link {
    color: #428bca;
  }

  a.main-link:hover {
    background: none;
  }
}

#sticky-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white !important;
  background-color: #000 !important;
}