<%- model_class = Artifact -%>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:upload) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% artifacts.each do |artifact| %>
      <tr>
        <td><%= link_to artifact.name, artifact_path(artifact), class: 'main-link' %></td>
        <% if artifact.upload.attached? %>
          <td><%= image_tag artifact.upload, alt: artifact.name, height: 100 %></td>
        <% else %>
          <td></td>
        <% end %>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      artifact_path(artifact), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      artifact_path(artifact),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Artifact', new_artifact_path(project_id: @project.id),
            :class => 'btn btn-primary' %>
